# Default ignored files
/shelf/
/workspace.xml
/.env
/Configs/Germany_MainConfig.xlsx
/Germany_MainConfig.xlsx
/.idea
__pycache__/
*.pyc

Configs/Germany_MainConfig.xlsx
Config
Final Transactional Log.xlsx
Output_json.txt